<!DOCTYPE html>
<html> 
    <head>
        <meta charset=”utf-8”>
        <title>Swiftsubs, one click, one sub</title>
        <meta name="description" content="Get your subtitles in one click">
        <meta name="keywords" content="subtitle, subtitles, sub, srt, new subtitles, movie subtitle">
        <link rel="image_src" href="/images/temp_logo.png"/>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	    <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/javascripts/index.js"></script>
    </head>
    <body>
    <div class="container">
        <div class="form-horizontal" role="form">
            <div class="form-group top-wrapper-buffer"> 
                <div class="form-group">
                     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Dear user!</h4>
                          </div>
                          <div class="modal-body">
                              <p> 
                                Thank you for using swiftsubs.com, as one of our first users we want to 
                                make sure that you enjoy our search engine and have a great experience while being here.
                              </p>
                              <p>
                                To improve the site we need your help! 
                                Tell us about what changes and improvements you woud like to see, 
                                or any bugs you have experienced.
                             </p>
                             <p>
                                We value your opinion, and would love to hear it!
                             </p>
                          </div>
                          <div class="modal-footer">
                            <textarea id="feedback" class="form-control" rows="3"></textarea>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onClick="sendFeedback()">Not now</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="sendFeedback()">Send</button>
                          </div>
                        </div>
                      </div>
                    </div>   
                    <img class="center-block top-buffer bottom-buffer img-responsive" src="/images/temp_logo.png"/>
                        <h4 id="right_slider">
                            Copy the name of the movie you want your subs to, similar to the examples below
                        </h4><br><br>
                    <input id="sub_title" type="text" class="form-control text-center" 
                        placeholder="ex The Walking Dead S04E14 x2642HD[ev] or Frozen.2013.1080p.BluRay.x264.YIFY.mp4" autofocus>
                    <select id="language" class="form-control top-buffer text-center col-sm-2">
                      <option>English</option>
                      <option>Arabic</option>
                      <option>Brazillian</option>
                      <option>Danish</option>
                      <option>Dutch</option>
                      <option>Farsi</option>
                      <option>Finnish</option>
                      <option>French</option>
                      <option>Greek</option>
                      <option>Hebrew</option>
                      <option>Indonesian</option>
                      <option>Italian</option>
                      <option>Japanese</option>
                      <option>Portuguese</option>
                      <option>Persian</option>
                      <option>Romanian</option>
                      <option>Spanish</option>
                      <option>Swedish</option>
                      <option>Thai</option>
                      <option>Turkish</option>
                    </select>
                    <a id="get_sub" class="btn btn-primary form-control top-buffer col-sm-10" onclick=getSub()>Get subtitle</a>
                    <a id="result" href="#" class="btn btn-success form-control top-buffer" 
                        role="button" style="display:none;margin-top:40px;"></a>
                    <div class="clearfix">
                    <img id="image_loader" class="center-block image-loader"  
                    src="/images/ajax_loader.gif" style="display:none;"/>
                    </div>
                        <div> 
                            <h4 id="slider" class="center-block footer"></h4>
                        </div>
                </div>
            </div>
        </div> 
    </body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51715028-1', 'auto');
      ga('send', 'pageview');

    </script> 
</html>
